:root {
	--dark-background: #002046;
	--active-color: #2d5c7d;

	--corner-radius: 0.75rem;

	--standard-height: 3rem;
	--logo-height: 4.5rem;
	--gap: 1rem;
}

.custom-corners {
	border-radius: var(--corner-radius);
}

#contains-everything {
	padding: var(--gap);
	margin: 0;
	width: 100%;
	height: 100vh;
	min-width: 400px;
}

hr {
	margin-top: calc(var(--gap) / 2);
	margin-bottom: calc(var(--gap) / 2);
}

/* * {
	font-size: small;
} */

/**************** Left side (Logo, input menu, go button) ****************/

/* Row 1: Logo */
#wm-logo-row {
	height: var(--logo-height);

	padding: 0;
	margin-bottom: var(--gap);
}


/* Row 2: Tabbed input menu */
#wm-menu-row {
	padding: 0;
	margin: 0;
	height: calc(100vh 
		- var(--standard-height)
		- var(--logo-height)
		- var(--gap)
		- var(--gap)
		- var(--gap)
		- var(--gap)); /* it's like flexbox but bad */
} 

#wm-tab-menu-content {
	background-color: var(--dark-background);
	color: #FFFFFF;
	border-radius: 
		var(--corner-radius) 
		var(--corner-radius) 
		0 
		0;
	padding: var(--gap);
	border: 1rem var(--dark-background);
	overflow: scroll;
	height: calc(100vh 
		- var(--standard-height)
		- var(--standard-height)
		- var(--logo-height)
		- var(--gap)
		- var(--gap)
		- var(--gap)
		- var(--gap)); 
	box-shadow: 
		inset 0 0 1rem 1rem var(--dark-background), /* does not work */
		0 .5rem 1rem rgba(0,0,0,.15);
}

#wm-tab-menu-content hr{
	border-color: #001036;
}



#wm-tab-list {
	height: var(--standard-height);
}

#settings-tab, #courses-tab, #about-tab {
	height: var(--standard-height);
	border-radius: 
		0 
		0 
		var(--corner-radius) 
		var(--corner-radius);
	border: none;
	background-color: #FFFFFF;
	color: var(--dark-background);
}

#settings-tab:hover, #courses-tab:hover, #about-tab:hover {
	background-color: var(--active-color);
	color: #FFFFFF;
	transition: 0.2s;
}

#settings-tab.active, #courses-tab.active, #about-tab.active {
	background-color: var(--dark-background);
	color: #FFFFFF;
}


/* Row 3: Go button */

#wm-submit-row {
	height: calc(var(--gap) + var(--standard-height));
	padding-top: var(--gap);
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	margin: 0;
}

#wm-go-button {
	background-color: var(--active-color);
	color: #FFFFFF;
	height: var(--standard-height);
	margin: 0;
	padding: 0.75rem;
	border: none;
	
}

#wm-go-button:hover{
	background-color: var(--dark-background);
}

/**************** Right side (Navbars and timetables) ****************/

#wm-output-panel {
	margin: 0;
	padding: var(--gap);
}

#wm-output-panel > div {
	font-size: small;
}

.timetable { 
	border-top: none;
	border:none;
}

.zero-space {
	line-height: 1;
}

.wm-course-block {
	background: var(--primary);
	color: white;
}
/* 	
thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
	border-collapse: separate;
	background: #ddd;
}
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
th, td {
	padding: 5px 4px 6px 4px; 
	text-align: left;
	vertical-align: top;
	
	
}
td {
	border-left: 0.5px solid #ddd;
	border-top: 0.5px solid #ddd;    
}
th {
	background: #ddd;
}
thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
	border-radius: 4px 0 0 0;
}
thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
	border-radius: 0 0 0 4px;
}  */


/**************** Responsive sizing ****************/

@media only screen and (max-width:768px) {
	/* Stacked column mobile layout */

	#wm-input-column {
		margin:0;
		padding-top: 0;
		padding-right: 0;
		padding-bottom: var(--gap);
		padding-left: 0;
	}
	
	#wm-output-column {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: var(--gap);
		padding-left: 0;
	}
/* 
	#worklistVariationButtons {
		margin-right: auto;
		margin-top: var(--gap);
	} */

}

@media only screen and (min-width:768px) {
	/* Side-by-side desktop layout */

	#wm-input-column {
		height: 100%;
		max-width: calc(
			var(--gap)
			
			+ var(--standard-height)
			+ var(--standard-height)
			+ var(--standard-height)
			+ var(--standard-height)
			+ var(--standard-height)
			);
		padding-top: 0;
		padding-right: var(--gap);
		padding-bottom: 0;
		padding-left: 0;
	}
	
	#wm-output-column {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 0;
	}

}