:root {
	/* Defining variables */
	--dark-background: #002046;
	--active-color: #2d5c7d;

	--corner-radius: 1rem;

	--standard-height: 5rem;
	--gap: 1rem;
}

#wm-tab-menu-content {
	background-color: var(--dark-background);
	color: white;
	border-radius: 
		var(--corner-radius) 
		var(--corner-radius) 
		0 
		0;
}

.nav-tabs {
	border: none;
}

.custom-corners {
	border-radius: var(--corner-radius);
}

#settings-tab, #courses-tab, #about-tab {
	border-radius: 
		0 
		0 
		var(--corner-radius) 
		var(--corner-radius);
	border: none;
	background-color: #FFFFFF;
	color: var(--dark-background);
}

#settings-tab:hover, #courses-tab:hover, #about-tab:hover {
	background-color: var(--active-color);
	color: white;
	transition: 0.2s;
	
}

#settings-tab.active, #courses-tab.active, #about-tab.active {
	background-color: var(--dark-background);
	color: white;
}

#wm-go-button {
	background-color: var(--active-color);
	color: white;
	font-size: 1.5rem;
}

#wm-go-button:hover{
	background-color:var(--primary);
}

#wm-logo-row {
	height: var(--standard-height);
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 1rem;
	padding-left: 0;
}

#wm-submit-row {
	height: var(--standard-height);
	padding-top: 1rem;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

@media only screen and (max-width:768px) {
	/* Stacked column mobile layout */

	#wm-input-column {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 1rem;
		padding-left: 0;
	}
	
	#wm-output-column {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 0;
	}
	
}

@media only screen and (min-width:768px) {
	/* Side-by-side desktop layout */

	#wm-input-column {
		height: 100%;
		max-width: 18rem;
		padding-top: 0;
		padding-right: 1rem;
		padding-bottom: 0;
		padding-left: 0;
	}
	
	#wm-output-column {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 0;
	}

	#wm-menu-row {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 0;
		height: calc(100% - 12rem);
		
	} 

	#wm-tab-menu-content {
		overflow: scroll;
		height: calc(100% - 5rem); /* it's like flexbox but bad */
	}

	#wm-tab-list {
		height: var(--standard-height);
	}

	
}

/* 
#settings-tab {
	background-color: #002046;
	color: white;
	border-color: transparent;
} */